<h3>{{ startText }}</h3>
<!-- <div class="form-group">
  <label for="file">Choose File</label>
  <input
    type="file"
    id="file"
    (change)="handleFileInput($event.target.files)"
  />

  <button class="btn btn-primary" (click)="uploadFileToActivity()">Add</button>
</div>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <input type="text" id="name" class="form-control" name="name" ngModel />
  <button type="submit" class="btn btn-primary">
    Submit
  </button>
  <button class="btn btn-primary" (click)="getFile(f.value.name)">get</button>
</form> -->
